.Title{
    padding: 10px;
    height: auto;
    width: auto;
    border-radius: 7px;
    background-color: #1d1b1b;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    
}
.title{

    border: 2px solid red;
    height: 80px;
    width: 500px;
    color: antiquewhite;
    text-decoration:underline;
    text-align: center;
    flex-wrap: wrap;

}

.main_body{
    margin-top: 10px;
    height: auto;
    width: auto;
    border: 2px solid rebeccapurple;
    background-color: #1d1b1b;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.blogging_content{
    margin: 20px;
    border: 2px solid blue;
    border-radius: 7px;
    padding: 10px;
    width: auto;
    height:auto;
    background-color: rgb(36, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.boxes{
    width: 200px;
    height: 200px;
    background-color: rgb(122, 126, 126);
    margin: 7px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    
}