body{
    background: linear-gradient(45deg, black, beige, black);
}
.Title{
    padding: 10px;
    height: auto;
    width: auto;
    border-radius: 7px;
    background-color: #1d1b1b;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    margin: 20px;    
}

.title{
    border-radius: 7px;
    border: 2px solid gray;
    height: 80px;
    width: 500px;
    color: antiquewhite;
    text-decoration:underline;
    text-align: center;
    flex-wrap: wrap;
}

.main_body{
    margin-top: 30px;
    height: auto;
    width: auto;
    background-color: #1d1b1b;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.blogging_content{
    margin: 20px;
    border: 2px solid gray;
    border-radius: 7px;
    padding: 10px;
    width: auto;
    height:auto;
    background-color: rgb(36, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.boxes{
    border-radius: 7px;
    width: 400px;
    height: auto;
    background-color: rgb(122, 126, 126);
    margin: 7px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    flex-wrap: wrap;   
    cursor: pointer;
}   

.footer{
    background-color: #1d1b1b;
    border-radius: 7px;
    margin-top: 30px;
    padding: 10px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.sub_footer{
    background-color: rgb(36, 37, 37);
    color: aliceblue;
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding: 20px;
    margin-inline: 90px;
    text-align: center;
    flex-direction: column;
}

.sub_footer p{
    margin-top: 10px;
    margin-bottom: 2px;
}